<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Weldome to Node Tutorial site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css">
  <script src="main.js"></script>
  <style>
    body {
      background-color: lightseagreen;
    }
    #main-wrapper {
      width: 960px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div id="main-wrapper">
    <% include partials/nav.ejs %>
    <h1>Welcome to nodejs tutorial site!</h1>
    <h2>This is a website I am creating to learn nodejs.</h2>
  </div>
</body>
</html>
